*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 20px;
}

:root{
    --ffs-xl:2rem;
    --ffs-lg:1.5rem;
    --ffs-m:1rem;
    --ffs-s:
}
@font-face {
    font-family: gilam-semi-bold;
    src: url(/fonts/gilam-semi-bold.ttf);
}
.foundation{
    margin-top:1rem;
    display: grid;
    grid-template-columns:repeat(24,1fr);
    grid-template-rows: repeat(24,1fr);
    max-width: 100%;
    height: 100vh;
}

.f-iteam1{
    grid-column:1/13;
    grid-row:1/-1;
 display: flex;

 align-items: center;
 justify-content: space-between;
   
}
.f-iteam1 div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom:10%;

}
.f-iteam1-text-1{
    font-size:var(--ffs-xl);
    font-family: 'gilam-semi-bold';
    margin-bottom:1rem;
}
.f-iteam1 div img{
    width: 100%;
}
.f-iteam2{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    grid-column:13/-1;
    grid-row:1/-1;
    

}
.f-iteam2 .f-iteam2-p{
    font-size:var(--ffs-lg);
    margin-bottom:2rem !important;
    margin-right: 1.5rem;
    font-family: 'gilam-semi-bold';
    font-weight:900;
    color: #999999;
    text-align: right;
}
.f-iteam3{
    position: relative;

    grid-column:1/13;
    grid-row:1/6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.f-iteam3 .f-iteam3-text1{
   font-size:var(--ffs-m);
position: relative;
   font-family: 'gilam-semi-bold';
   font-weight:600;
   color: black;
   
}

   
.f-iteam3 .f-iteam3-text1::before{
    content: '';
    width: 4rem;
    height: 4px;
    background: #FFBD59;
    position: absolute;
    left:-5rem;
    top:0.4rem;
}
.f-iteam4{
    grid-column:13/23;
    grid-row:1/12;
    background-color: rgb(239, 238, 237);
}
.f-iteam5{
    grid-column:14/22;
    grid-row:5/16;
    background:url(/images/s3.webp);
    background-size: cover;
}

@media only screen and (max-width: 900px) {
    .foundation{
        height:120vh;
    }
    .f-iteam1{
        grid-column:1/-1;
        grid-row:3/12;
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 0 !important;
     padding: 0 !important;
    }
    .f-iteam1 div{
        margin: 0;
        height: 100%;
        display: flex;
        align-items: center;
     align-items: center;
    }
    .f-iteam1 div img{
        width:100%;
    }
    .f-iteam1 div .f-iteam1-text-1{
        font-size:0.5rem;
        margin:0;
        padding: 0;
    }
    .f-iteam2{
        order:2;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        grid-column:1/-1;
        grid-row:12/20;
        
    
    }
    .f-iteam3{
        position: relative;
        order:1;
        grid-column:1/-1;
        grid-row:1/3;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .f-iteam4{
        grid-column:1/-1;
        grid-row:118/24;
        background-color: rgb(239, 238, 237);
    }
    .f-iteam5{
        order:2 !important;
        grid-column:1/-1;
        grid-row:18/-1;
        background:url(/s3.webp);
        background-size: cover;
    }
    }


    
@media screen and (orientation:landscape)
and (min-device-width: 319px) 
and (max-device-width: 900px) {



    .f-iteam5{
        display: none;
    }
   
   
    .f-iteam1{
        display: none;
    }
}

@media only screen and (min-width: 1800px) {
    :root{
        --ffs-xl:3rem;
        --ffs-lg:2rem;
        --ffs-m:1.5rem;
        --ffs-s:
    }

    .f-iteam2{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        grid-column:13/-1;
        grid-row:1/-1;
        
    
    }
    .f-iteam2 .f-iteam2-p{
        font-size:4rem !important;
        margin-bottom:6rem !important;
        margin-right: 1.5rem;
        font-family: 'gilam-semi-bold';
        font-weight:900;
        color: #999999;
        text-align: right;
    }
    .f-iteam1 div{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        margin-bottom:25%;
    
    }

}