*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 20px;
}

:root{
 --nfs-big:1rem;
 --nfs-m:1rem;
 --nfs--small:1rem;
}
html,body,ul{
    margin: 0;
    padding: 0;
    font-size:20px;
}
@font-face {
    font-family:Blinker-Regular;
    src: url(/fonts/Blinker-Regular.ttf);
}

@media only screen and (min-width: 800px) {
   .navbar{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0 4rem;
    border-bottom: 1px solid black;
     background: #FFFFFF;

}
   .navbar .logo-continer img{
     width:150px;
   }
   .navbar .logo-continer{
    
    display: flex;
    justify-content: center !important;
    
   }
   .hambarger{
    display: none;
   }
   .number-continer img{
    width:50px;
   }
   .number-continer{
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   .number-text1{
    font-size: var(--nfs-s);
   }
   .nav-list{
   margin: 0 auto;
     display: flex;
    justify-content: space-between;
     list-style: none;
   }
   .nav-list .nav-iteam{
    padding:0.5rem 1rem;

   }
.nav-iteam a{
    color: black;
    font-size: var(--nfs-m);
    font-weight: 700;
    text-decoration: none;
    font-family:'Blinker-Regular';
}
   .hambarger{
    width: 50px;
   }
   
   }















@media only screen and (max-width: 799px) {
    :root{
        --fs-big:1rem;
        --fs-m:1rem;
        --fs--small:1rem;
       }


.navbar{
    width: 100%;
    height:100px;
   display: flex;
  align-items: center;
  justify-content:space-around;
  padding: 0.5rem 1rem;
  background: #FFFFFF;
  flex-wrap: wrap;
  border-bottom: 1px solid black;
}
.hambarger {

width: 25px;

}
.navbar .logo-continer img{
    max-width: 60%;

}


.nav-list{ 
    order: 1;
    display: none;
    margin-top: 1rem;
    width: 100%;
    background: #EFEEED ;
    z-index: 6666;
    
}
.nav-list .nav-iteam{
 padding:0.8rem 1.5rem;
list-style:none;
text-align: center;
font-family: 'Blinker-Regular';
}
.nav-list .nav-iteam a{
   color:black;
   text-decoration: none;
   font-size:var(--nfs-m);
   color: black;
  
}
.show{
    display: block;
}
.number-continer{
    order: 5 !important;
    display: none;
}
}


@media screen and (orientation:landscape)
and (min-device-width: 319px) 
and (max-device-width: 900px) {

.number-continer{
    display: none;
}


}

@media only screen and (min-width: 1800px) {
    .navbar{
        height: 150px;
    }
    .navbar .number-continer{
        width:10%;
    }
    :root{
        --fs-big:2rem;
        --fs-m:1.5rem;
        --fs--small:1rem;
       }
    
}