* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

/*--------------------------------------------utilitie class starts here*----------------------------------------------*/

/*------------------------------------------------------utilitie class end here---------------------------------------*/
/*------------------------------------------------Typrography Start here ---------------------------------------------------------*/
@font-face {
  font-family:'OpenSans-Bold';
  src: url(/res/OpenSans-Bold.ttf);
}
.lead3{
  font-weight: bold;
  font-size:4rem;
   font-family: 'Open Sans', sans-serif ;
}
.lead4{
  font-weight: bold;
  font-size:3rem;
   font-family:'OpenSans-Bold';
}

 
 .text3{
  color:black;
   font-size:1.5rem;
   font-family: 'Open Sans', sans-serif ;
   text-transform: uppercase;
 }
 .text3::before{
    position: absolute;
   top:4em;
   left:-2em;
   content: "";
   height: 2px;
   background:var(--golden);
   width: 4em;
   z-index: 5000;
 }


 .text5{
  color:black;
   font-size:2rem;
   font-family: 'Open Sans', sans-serif ;
   font-weight: bold;
   padding-left:5em;
 }
 .text5::before{
  position: absolute;
  left:0.2em;
  top:0.5em;
  content: "";
  height: 3px;
  background:var(--golden);
  width: 4em;
  z-index: 5000;
 }
 
  /*------------------------------------------------Typrography end here---------------------------------------------------------*/


  /*------------------------------------------------Navbar starts here---------------------------------------------------------*/
   /*------------------------------------------------Navbar starts here---------------------------------------------------------*/



/*------------------------------------------------------------Navbar End here*----------------------------------------/
/*-----------------------------------------------Hero starts here*-----------------------------------------------*/
/*-----------------------------------------------Hero starts here*-----------------------------------------------*/





/*--------------------------------------Hero ends here*--------------------------------------------------------*/
/*--------------------------------------Hero ends here*--------------------------------------------------------*/


/*--------------------------------------Foundatation stars here*--------------------------------------------------------*/
/*--------------------------------------Foundatation stars here*--------------------------------------------------------*/
.foundation{
 margin-bottom:15rem;
  display: flex;
  width:100%;
  height:100vh;
}
.foundation-left{

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  width:40%;
  height:100vh;
}
.foundation-left div img{
width:80% !important;
position:absolute;
right:0;
top:15em;
  
}
.foundation-left .child-1{
  width:100%;
  height:50vh;
  background:var(--light-grey);
}
.foundation-left :last-child{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:40vh;
}


.foundation-right{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
width:60%;
height:100vh;
}
.right-child1{
 display: flex;
 flex-direction: column;
  position: relative;
  padding:5rem 5rem;

}
.right-child1 div:last-child{
  display: flex;
  justify-content: center;
}

.right-child2{
  width:100%;
  height:7vh;
}
.right-child3{
  display: flex;
  justify-content: center;
 
}
.right-child3 img{
  width:80%;
}

@media only screen and (max-width: 768px) {
 .foundation{
  flex-direction: column;
  height:100vh;
 }
 .foundation-left{
 width:100vw;
 flex-direction: column;
 }
 .foundation-left .child-1{
display: none;
 }
 
  .foundation-right{
    width:100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .right-child3 {
    display: flex;
    justify-content: center;

  }
  .right-child3 img{
    width:70%;
  }
}

@media all and (max-width: 1024px) and (max-height: 768px) and (orientation: landscape) {

  .foundation{
    flex-direction: column;
   
   }
   .foundation-left{
   width:100vw;
   flex-direction: column;
   }
   .foundation-left .child-1{
  display: none;
   }
   
    .foundation-right{
      width:100vw;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .right-child3 {
      display: flex;
      justify-content: center;
  
    }
    .right-child3 img{
      width:70%;
    }

}

/*--------------------------------------Foundatation end here*--------------------------------------------------------*/
/*--------------------------------------Foundatation end here*--------------------------------------------------------*/



/*--------------------------------------About Start here *--------------------------------------------------------*/
/*--------------------------------------About Start here *--------------------------------------------------------*/
.about1{
  padding:10em;
   display: flex;
   justify-content: space-around;
 }
 .about1 div{
   position: relative;
 }
 
 
 @media only screen and (max-width: 768px) {
 
   .about1{
     flex-direction: column;
   }
   .lead2{
     font-size:1.8em;
   }
   .text6{
    display: none;
   }
 }
 
 
 

 @media only screen and (max-width: 1100px) {

.lead2{
  padding:5em 0em;
  font-size:1.5em;
}
.text6{
  font-size:1.5em;
  padding:5em 0em;

}

 }

 @media only screen and (max-width: 768px) {
 
   .about2{
     flex-direction: column;
   }
   .about2 .about-child1{
     width:100vw;
     height:50vh;
 
   }
   .about2 .about-child2{
     width:100vw;
     height:50vh;
 
   }
   .about2 .about-child1 div{
     width:100vw;
     height:40vh;
   }
   .lead2{
    padding:5em 0em;

    font-size:1.5em;
  }
  .text6{
    padding:5em 0em;

    font-size:1.5em;
  }
  .text9{
    padding:2em;
  }
  
 }


 @media all and (max-width: 1024px) and (max-height: 768px) and (orientation: landscape) {
 
 
 
   .about2{
     flex-direction: column;
   }
   .about2 .about-child1{
     width:100vw;
     height:60vh;
 
   }
   .about2 .about-child2{
     width:100vw;
     height:100vh;
 
   }
   .about2 .about-child1 div{
     width:100vw;
     height:70vh;
   }
   .lead2{
    padding:5em 0em;

    font-size:1.5em;
  }
  .text6{
    padding:5em 0em;

    font-size:1.5em;
  }

 }
 
 /*--------------------------------------About end here *--------------------------------------------------------*/
 /*--------------------------------------About end here *--------------------------------------------------------*/



/*--------------------------------------Internet stars here *--------------------------------------------------------*/
/*--------------------------------------Internet stars here *--------------------------------------------------------*/



.internet {
  width:100%;
  height:100vh;
 
  background: url(/res/internet.webp) no-repeat center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
@media only screen and (max-width: 768px) {
  .internet{
    height:50vh;
  }

}
/*--------------------------------------Internet end here *--------------------------------------------------------*/
/*--------------------------------------Internet end here *--------------------------------------------------------*/

