*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-size:20px;
}

@font-face {
    font-family: Questrial-Regular;
    src: url(/Questrial-Regular.otf);
  }
  @font-face {
    font-family: Gilam;
    src: url(/Gilam.otf);
  }
  @font-face {
    font-family: OpenSans-Bold;
    src: url(/OpenSans-Bold.ttf);
  }

  
.ct{
    height: 100vh;
display: flex;
background: rgb(19, 31, 37);;
}

.iteam-1{
    display: flex;
    align-items: center;
    justify-content: right;
    width:40%;
    order: 1;
}
.iteam-1-heading{
    font-family: 'OpenSans-Bold';
    text-align: right;
    color: white;
    font-size: 1.6rem !important;
}
.iteam-2{
   
    margin-top:6rem;
    padding-left:5rem;
    width:60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    order: 2;
}
.iteam-2-img-continer{
    width:70%;
    height:60%;
    background-image: url(/globe.jpg);
    background-size:cover;
    background-position:90% 50%;
   
}

.iteam-2-text{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 2rem;
    width:69%;
    padding:1rem 0.5rem;
}
.iteam-2-text-p1{

    font-weight:bold;
    font-style: normal !important;
  font-family: "Gilam";
    text-align: right;
    font-size:0.9rem !important;
    color:white;
}
.iteam-2-text-p2{
    font-style: normal !important;
    font-family: "Questrial-Regular";
      text-align: right;
      margin:0.5rem 0rem;
    font-size:0.6rem !important;
    color:rgb(191, 193, 188);
}
.iteam-2-text-p1::before{
    position:absolute;
    content: ' ';
    width:0.1rem;
    height:3.3rem;
    right:0;
    background: rgb(191, 193, 188);
}

@media only screen and (max-width: 600px) {
    
    .ct{
        height: 100vh;
        flex-direction: column;
    }
    .iteam-1{
        flex-direction: column;
       width: 100vw;
       height:50vh;
       padding:0.5rem;
    }
    .iteam-2{
        margin: 0;
        padding:0;
        width: 100vw;
        height:50vh;
    flex-direction: column;
    }
    .iteam-2-img-continer{
        width: 100%;
        height:100%;
       
        
    }
  }